@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Gotham Ultra';
    src: url('../fonts/GothamUltra.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/GothamBold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Thin';
    src: url('../fonts/GothamThin.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/GothamLight.ttf') format('truetype');
    font-style: normal;
}