$font-medium: 'Gotham';
$font-light: 'Gotham Light';
$font-bold: 'Gotham Bold';

.font-bold {
    font-family: 'Gotham Bold';
}
.font-normal {
    font-family: 'Gotham';
}
.font-light {
    font-family: 'Gotham Light';
}